:root {
  scroll-behavior: auto !important;
  --prim-color: #ff550c;
  --blackT-color: #090402;
  --para1-color: #c2c2c2;
  --para2-color: #7c7c7c;
  --dActive-color: #c34813;
  --disable-color: #242424;
  --hover-color: #3a3635;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

// mainBtn style-start
.UiBtn {
  svg {
    color: white;
  }

  &.toSide {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transition-duration: 0.3s;

      &:first-of-type {
        transform: translate(-50%, -20px) scale(0.8);
      }

      &:nth-of-type(2) {
        transform: translate(-50%, 20px) scale(0.8);
      }

      &.active {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
}

// mainBtn style-end
// main box style-start

// main box style-end

// mainBtn-hover-style-start
.linkto {
  display: block;
  width: fit-content;

  a {
    transition-duration: 0.3s;
    text-decoration: none;
    color: unset;
    display: flex;
    align-items: center;
    width: fit-content;

    span {
      display: inline-block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
      }
    }

    svg {
      transform: translate(-3px, 5px) rotate(-45deg);
      font-size: 18px;
      margin-left: 5px;
      transition-duration: 0.3s;
    }

  }

  &.alract {
    span::before {
      bottom: 0px;
      height: 1px;
      animation: widthoutalract 0.3s forwards;
      background-color: white;
    }

    svg {
      transform: translate(3px, 0px) rotate(-45deg);
      font-size: 18px;
      margin-left: 5px;
      transition-duration: 0.3s;
    }

    &:hover {
      span {
        &::before {
          animation: widthinalract 0.3s forwards;
          right: 0;
        }
      }

      svg {
        transform: translate(3px, 0) rotate(0deg);
      }
    }
  }

  &.nalract {
    span::before {
      bottom: -3px;
      right: 0;
      height: 2px;
      width: 0;
      animation: widthout 0.3s;
      background-color: var(--dActive-color);
    }

    svg {
      transform: translate(-3px, 5px) rotate(-45deg);
      font-size: 18px;
      margin-left: 5px;
      transition-duration: 0.3s;
      opacity: 0;
    }

    &:hover {
      span {
        color: var(--dActive-color);

        &::before {
          animation: widthin 0.3s forwards;
        }
      }

      svg {
        color: var(--dActive-color);
        opacity: 1;
        transform: translate(0, 0) rotate(-45deg);
      }
    }
  }
}

@keyframes widthin {
  100% {
    width: 100%;
  }
}

@keyframes widthout {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes widthinalract {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes widthoutalract {
  0% {
    width: 0%;
    left: 0;
  }

  100% {
    width: 100%;
  }
}

// mainBtn-hover-style-end